<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zuhra.sharemebackendv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zuhra.sharemebackendv2.view.LoginActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zuhra.sharemebackendv2.view.ApplyActivity"
            android:label="@string/apply" />

        <activity
            android:name="com.zuhra.sharemebackendv2.view.ProductView"
            android:label="@string/product_detail" />

        <activity
            android:parentActivityName=".view.LoginActivity"
            android:name="com.zuhra.sharemebackendv2.view.RegistrationActivity"
            android:label="@string/regist" />
        <activity
            android:name="com.zuhra.sharemebackendv2.view.NewProduct"
            android:label="@string/new_product" />

        <activity
            android:name="com.zuhra.sharemebackendv2.view.GenerateQRCode"
            android:label="@string/generate_activity" />


        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />


        <activity
            android:name="com.zuhra.sharemebackendv2.view.MainActivity"
            android:label="@string/main_activity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>